@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Rokkitt:wght@300&display=swap');

.welcome{
    font-family: 'Rokkitt', serif;
}

.name{
    font-family: 'Cinzel', serif;
}

.tq{
    font-family: 'Saira', sans-serif;
}