@import url('https://fonts.googleapis.com/css2?family=Saira:ital@1&display=swap');
.page_404{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Saira', sans-serif;

}

.page_404  img{ width:100%;}
 

.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{ 
    margin-top:-50px;
}


.box > span{
    display:inline-block;
    animation:flip 2s infinite;
    animation-delay:calc(0.2s * var(--x));
}

@keyframes flip {
    0%, 90% {
        transform:rotatey(360deg);
    }
}