@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Gilda+Display&display=swap');

.font-head{
    font-family: 'Castoro', serif;
}
.font-ans{
    font-family: 'Gilda Display', serif;
}

.tin:hover .div{
    transform:scale(5.5);
    transition:0.4s  ease-out;
    animation:span 0.2s forwards;
    animation-delay:0.3s;
}


@keyframes span { 
    30% {
        opacity:0.6;
        
    }
    60% {
        opacity:0.5;
    }
    70% {
        opacity:0.4;
    }
    80% {
        opacity:0.3;
    }
    90% {
        opacity:0.2;
    }
    100% {
        opacity:0;
    }
}